* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fdf2e9;
}
.clickable {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  padding: 15px 25px;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  transition: 0.3s;
  /* background: #005aa5; */
}

.header li a:first-child {
  margin-left: 5px;
}

.header-text {
  color: #cf711f;
  font-size: 40px;
  font-weight: bolder;
}

.welcome {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 10px auto;
  width: 75%;
  border: #fff 5px solid;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  background: #fff;
}

.heading {
  /* position: relative; */
  text-align: center;
  top: 0;
  left: 50%;
  font-size: 50px;
  font-weight: bolder;
  color: #111;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
